:root {
    --main-color: #ed1f24;
    --secondary-color: #333;

    --light-blue:#4E9CB6;
    --orange:#E68038;
    --light-gray:#E1E1E1;
    --light-green:#7EAF51;

    --dark-green:#096940;
    --dark-red1:#AE282F;
    --dark-red2:#4A1619;
    --dark-blue:#1F2A4A;

    
  }